workflows/1000-agent-email.json
{
  "name": "1000-agent-email",
  "nodes": [
    {
      "id": "b1b2c3d4-1000-4000-8000-000000000001",
      "name": "Webhook - Email Agent",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "parameters": {
        "path": "agent-email",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "agent-email-entry"
    },
    {
      "id": "b1b2c3d4-1000-4000-8000-000000000002",
      "name": "Parse Email Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst command = (input.command || '').toLowerCase().trim();\n\n// Determine sub-action\nlet action = input.action || 'unknown';\nif (action === 'unknown') {\n  if (command.includes('draft')) action = 'draft';\n  else if (command.includes('send')) action = 'send';\n  else if (command.includes('summarize') || command.includes('summary')) action = 'summarize';\n}\n\n// Validate required fields\nif (!command) {\n  throw new Error('No command text provided to email agent');\n}\n\nreturn [{\n  json: {\n    command: input.command,\n    action: action,\n    parameters: input.parameters || {},\n    execution_id: input.execution_id || $execution.id,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "b1b2c3d4-1000-4000-8000-000000000003",
      "name": "Switch by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 400],
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "draft",
              "conditions": {
                "options": { "caseSensitive": false },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "draft",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputKey": "send",
              "conditions": {
                "options": { "caseSensitive": false },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "send",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            },
            {
              "outputKey": "summarize",
              "conditions": {
                "options": { "caseSensitive": false },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "summarize",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              }
            }
          ]
        },
        "fallbackOutput": "extra"
      }
    },
    {
      "id": "b1b2c3d4-1000-4000-8000-000000000004",
      "name": "OpenAI - Draft Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'system', content: 'You are a professional legal email drafter at a criminal defense law firm. Draft clear, professional emails. Return JSON: {\"subject\": \"...\", \"body\": \"...\", \"suggested_recipients\": [], \"tone\": \"professional\"}' }, { role: 'user', content: `Draft email: ${$json.command}. Context: ${JSON.stringify($json.parameters)}` }], temperature: 0.3, response_format: { type: 'json_object' } }) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "b1b2c3d4-1000-4000-8000-000000000005",
      "name": "Human Approval - Send Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 400],
      "parameters": {
        "jsCode": "// Human approval gate for send operations\n// In production, replace with n8n Form/Wait node or external approval webhook\nconst input = $input.first().json;\n\nreturn [{\n  json: {\n    ...input,\n    approval_status: 'pending',\n    approval_required: true,\n    approval_reason: 'write_operation_send_email',\n    approval_message: `Approval required to send email. Command: \"${input.command}\"`,\n    queued_at: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "b1b2c3d4-1000-4000-8000-000000000006",
      "name": "HTTP - Send Email Placeholder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/email/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.parameters?.recipient || '', subject: $json.parameters?.subject || '', body: $json.parameters?.body || '', from: 'attorney@leppardlaw.com' }) }}",
        "options": { "timeout": 15000 }
      }
    },
    {
      "id": "b1b2c3d4-1000-4000-8000-000000000007",
      "name": "OpenAI - Summarize Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 600],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'system', content: 'Summarize the following email thread concisely. Identify key action items, deadlines, and important details. Return JSON: {\"summary\": \"...\", \"action_items\": [], \"deadlines\": [], \"key_parties\": []}' }, { role: 'user', content: $json.command }], temperature: 0.2, response_format: { type: 'json_object' } }) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "b1b2c3d4-1000-4000-8000-000000000008",
      "name": "Unsupported Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [940, 800],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nreturn [{\n  json: {\n    agent: '1000-agent-email',\n    action: input.action,\n    confidence: 0.2,\n    result: {\n      error: `Unsupported email action: ${input.action}`,\n      supported_actions: ['draft', 'send', 'summarize']\n    },\n    requires_approval: false,\n    execution_time_ms: 0\n  }\n}];"
      }
    },
    {
      "id": "b1b2c3d4-1000-4000-8000-000000000009",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 400],
      "parameters": {
        "jsCode": "const startTime = new Date($('Parse Email Command').first().json.timestamp).getTime();\nconst input = $input.first().json;\nconst parsed = $('Parse Email Command').first().json;\n\n// Parse AI response if present\nlet result = {};\nlet confidence = 0.5;\n\ntry {\n  if (input.choices) {\n    // OpenAI response\n    const content = JSON.parse(input.choices[0].message.content);\n    result = content;\n    confidence = 0.9;\n  } else if (input.approval_required) {\n    // Approval gate response\n    result = { message: input.approval_message, status: 'pending_approval' };\n    confidence = 0.85;\n  } else {\n    result = input.result || input;\n    confidence = input.confidence || 0.5;\n  }\n} catch (e) {\n  result = { raw: input, parse_error: e.message };\n  confidence = 0.4;\n}\n\nconst executionTime = Date.now() - startTime;\n\nreturn [{\n  json: {\n    agent: '1000-agent-email',\n    action: parsed.action,\n    confidence: confidence,\n    result: result,\n    requires_approval: parsed.action === 'send',\n    approval_reason: parsed.action === 'send' ? 'write_operation' : null,\n    execution_time_ms: executionTime,\n    execution_id: parsed.execution_id\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Webhook - Email Agent": {
      "main": [
        [{ "node": "Parse Email Command", "type": "main", "index": 0 }]
      ]
    },
    "Parse Email Command": {
      "main": [
        [{ "node": "Switch by Action", "type": "main", "index": 0 }]
      ]
    },
    "Switch by Action": {
      "main": [
        [{ "node": "OpenAI - Draft Email", "type": "main", "index": 0 }],
        [{ "node": "Human Approval - Send Email", "type": "main", "index": 0 }],
        [{ "node": "OpenAI - Summarize Email", "type": "main", "index": 0 }],
        [{ "node": "Unsupported Action", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI - Draft Email": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Human Approval - Send Email": {
      "main": [
        [{ "node": "HTTP - Send Email Placeholder", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Send Email Placeholder": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI - Summarize Email": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    },
    "Unsupported Action": {
      "main": [
        [{ "node": "Format Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1000-agent-email-v1",
  "tags": [
    { "name": "agent" },
    { "name": "email" },
    { "name": "ai-agent-delegator" }
  ]
}