workflows/1002-agent-research.json
{
  "name": "1002-agent-research",
  "nodes": [
    {
      "id": "d1b2c3d4-1002-4000-8000-000000000001",
      "name": "Webhook - Research Agent",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "parameters": {
        "path": "agent-research",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "agent-research-entry"
    },
    {
      "id": "d1b2c3d4-1002-4000-8000-000000000002",
      "name": "Parse Research Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst command = (input.command || '').trim();\n\nif (!command) {\n  throw new Error('No research query provided');\n}\n\nconst params = input.parameters || {};\n\n// Build search query from command + parameters\nlet searchQuery = command;\nif (params.jurisdiction) searchQuery += ` ${params.jurisdiction}`;\nif (params.year) searchQuery += ` ${params.year}`;\n\nreturn [{\n  json: {\n    command: command,\n    search_query: searchQuery,\n    parameters: params,\n    depth: params.depth || 'standard',\n    execution_id: input.execution_id || $execution.id,\n    timestamp: new Date().toISOString()\n  }\n}];"
      }
    },
    {
      "id": "d1b2c3d4-1002-4000-8000-000000000003",
      "name": "HTTP - Web Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.search-provider.com/v1/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.search_query, num_results: 10, search_type: 'legal', filters: { jurisdiction: $json.parameters?.jurisdiction || '', year: $json.parameters?.year || '' } }) }}",
        "options": { "timeout": 30000 }
      }
    },
    {
      "id": "d1b2c3d4-1002-4000-8000-000000000004",
      "name": "Extract Relevant Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst parsed = $('Parse Research Query').first().json;\n\n// Extract and normalize search results\nconst rawResults = input.results || input.items || input.data || [];\n\nconst results = rawResults.slice(0, 10).map((r, i) => ({\n  rank: i + 1,\n  title: r.title || r.name || 'Untitled',\n  url: r.url || r.link || '',\n  snippet: r.snippet || r.description || r.abstract || '',\n  source: r.source || r.domain || '',\n  relevance_score: r.score || r.relevance || null\n}));\n\n// Filter out low-quality results\nconst filtered = results.filter(r => r.title && r.url);\n\nreturn [{\n  json: {\n    command: parsed.command,\n    search_query: parsed.search_query,\n    parameters: parsed.parameters,\n    results: filtered,\n    result_count: filtered.length,\n    depth: parsed.depth\n  }\n}];"
      }
    },
    {
      "id": "d1b2c3d4-1002-4000-8000-000000000005",
      "name": "OpenAI - Synthesize Research",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', messages: [{ role: 'system', content: 'You are a legal research assistant at a criminal defense firm. Synthesize search results into a clear, cited summary. Always note limitations and gaps. Return JSON: {\"summary\": \"...\", \"key_findings\": [], \"citations\": [{\"title\": \"...\", \"url\": \"...\", \"relevance\": \"...\"}], \"gaps\": [], \"confidence_assessment\": \"high|medium|low\", \"confidence_score\": 0.0-1.0}' }, { role: 'user', content: `Research query: ${$json.command}\\n\\nSearch results:\\n${JSON.stringify($json.results, null, 2)}` }], temperature: 0.2, response_format: { type: 'json_object' } }) }}",
        "options": { "timeout": 45000 }
      }
    },
    {
      "id": "d1b2c3d4-1002-4000-8000-000000000006",
      "name": "Format Response with Citations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 400],
      "parameters": {
        "jsCode": "const startTime = new Date($('Parse Research Query').first().json.timestamp).getTime();\nconst input = $input.first().json;\nconst parsed = $('Parse Research Query').first().json;\nconst extracted = $('Extract Relevant Results').first().json;\n\nlet result = {};\nlet confidence = 0.5;\n\ntry {\n  if (input.choices) {\n    const synthesis = JSON.parse(input.choices[0].message.content);\n    result = {\n      summary: synthesis.summary,\n      key_findings: synthesis.key_findings || [],\n      citations: synthesis.citations || [],\n      gaps: synthesis.gaps || [],\n      sources_analyzed: extracted.result_count\n    };\n    confidence = synthesis.confidence_score || 0.5;\n  } else {\n    result = { raw_results: extracted.results, note: 'AI synthesis unavailable' };\n    confidence = 0.3;\n  }\n} catch (e) {\n  result = { raw_results: extracted.results, parse_error: e.message };\n  confidence = 0.3;\n}\n\n// Downgrade confidence if few results found\nif (extracted.result_count < 3) {\n  confidence = Math.min(confidence, 0.5);\n  result.gaps = result.gaps || [];\n  result.gaps.push('Limited search results found');\n}\n\nconst executionTime = Date.now() - startTime;\n\nreturn [{\n  json: {\n    agent: '1002-agent-research',\n    action: 'search',\n    confidence: confidence,\n    result: result,\n    requires_approval: false,\n    execution_time_ms: executionTime,\n    execution_id: parsed.execution_id\n  }\n}];"
      }
    }
  ],
  "connections": {
    "Webhook - Research Agent": {
      "main": [
        [{ "node": "Parse Research Query", "type": "main", "index": 0 }]
      ]
    },
    "Parse Research Query": {
      "main": [
        [{ "node": "HTTP - Web Search", "type": "main", "index": 0 }]
      ]
    },
    "HTTP - Web Search": {
      "main": [
        [{ "node": "Extract Relevant Results", "type": "main", "index": 0 }]
      ]
    },
    "Extract Relevant Results": {
      "main": [
        [{ "node": "OpenAI - Synthesize Research", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI - Synthesize Research": {
      "main": [
        [{ "node": "Format Response with Citations", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1002-agent-research-v1",
  "tags": [
    { "name": "agent" },
    { "name": "research" },
    { "name": "ai-agent-delegator" }
  ]
}